# Web technologies & related
aiofiles
aiohttp
fastapi
starlette
pyjwt
uvicorn
websockets

# Cryptography
bcrypt

# User interface
darkdetect
sv-ttk

windows-curses; sys_platform == "win32" or sys_platform == "cygwin" and python_version <= "3.13"

# System utilities
psutil
