# Web technologies & related
aiofiles
aiohttp
fastapi
starlette
pyjwt
uvicorn
pydantic
websockets

# Cryptography
argon2-cffi

# Database
clickhouse-driver

# User interface
darkdetect
sv-ttk

# Environment management
python-dotenv

# windows-curses; sys_platform == "win32" or sys_platform == "cygwin" and python_version <= "3.13"

# System utilities
psutil

# Environment variables
python-dotenv
